[submodule "mod_xrandr"]
	path = mod_xrandr
	url = ../mod_xrandr
[submodule "mod_xkbevents"]
	path = mod_xkbevents
	url = ../mod_xkbevents
[submodule "libextl"]
	path = libextl
	url = ../libextl
[submodule "libtu"]
	path = libtu
	url = ../libtu
