
LIBS_SUBDIRS = libtu libextl

LIBTU_DIR = $(TOPDIR)/libtu
LIBTU_INCLUDES =
LIBTU_LIBS = -L$(LIBTU_DIR) -ltu

LIBEXTL_DIR = $(TOPDIR)/libextl
LIBEXTL_INCLUDES =
LIBEXTL_LIBS = -L$(LIBEXTL_DIR) -lextl

MKEXPORTS = $(LUA) $(LIBEXTL_DIR)/libextl-mkexports
