* {  
}  

body {  
    font: 71%/1.5 Verdana, Sans-Serif;  
    background: #eee;  
}  
#container {  
    margin: 0;  
    padding: 0;  
    margin: auto;
    width: 688px;  
}  
#write {  
    margin: 0 0 5px;  
    padding: 5px;  
    width: 671px;  
    height: 200px;  
    font: 1em/1.5 Verdana, Sans-Serif;  
    background: #fff;  
    border: 1px solid #f9f9f9;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
}  
#keyboard {  
    margin: 0;  
    padding: 0;  
    list-style: none;  
}  
        #keyboard li {  
        float: left;  
        margin: 0 5px 5px 0;  
        width: 40px;  
        height: 60px;  
        #line-height: 40px;  
        text-align: center;  
        background: #fff;  
        border: 1px solid #f9f9f9;  
        -moz-border-radius: 5px;  
        -webkit-border-radius: 5px;  
        }  
            .capslock, .tab, .left-shift {  
            clear: left;  
            }  
                #keyboard .tab, #keyboard .delete {  
                width: 70px;  
                }  
                #keyboard .capslock {  
                width: 80px;  
                }  
                #keyboard .return {  
                width: 77px;  
                }  
                #keyboard .left-shift {  
                width: 95px;  
                }  
                #keyboard .right-shift {  
                width: 109px;  
                }  
            #keyboard .lastitem {  
            margin-right: 0;  
            }  
            .uppercase {  
            text-transform: uppercase;  
            }  
            #keyboard .space {  
            clear: left;  
            width: 681px;  
            }  
            .on {  
            display: none;  
            }  
            #keyboard li:hover {  
            position: relative;  
            top: 1px;  
            left: 1px;  
            border-color: #e5e5e5;  
            cursor: pointer;  
            }  
.modk, .shift
{
  background-color: #CCCCCC;
}
h2
{
  margin-top: 10px;
}
.legend
{
  clear: both;
  margin: 10px;
}
td
{
  font-size: 10px;
}
.keytable
{
  margin: 0px auto;
}
