<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<title>Notion - Free Tiling Tabbed Window Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="assets/css/common.css" />
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="index.htm"><em><strong>Not</strong>ion</em></a> </div>
  <ul id="nav">
    {{ navigation }}
  </ul>
  <div id="content" class="clearfix">
    <div id="col_1">
      {{ leftpanel }}
    </div>
    <div id="col_2">
      {{ content }}
    </div>

  <div id="footer"><small>All content copyright &copy; 2010-2014 the Notion team, all rights reserved.<br />
    Layout based on <a href="http://cssweblayouts.com/" target="_blank">CSS Web Layouts</a></a></small></div>
</div>
</body>
</html>
